.title {
  text-align: center;
  padding: 2rem;
  font-size: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem);
  font-family: var(--text-font);
}

.text {
  font-size: clamp(1rem, 0.8844rem + 0.4931vw, 1.2rem);
  line-height: 1.8;
  font-family: var(--text-font);
  margin-bottom: 5rem;
}


.text h3 {
  font-weight: bold;
  font-size: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem);
  margin-bottom: 2rem;
}

.text a {
  color: var(--clr-link);
  font-weight: bold;
  transition: var(--transition);
}

.text a:hover {
  opacity: .6;
}
