.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000cc;
  height: 100%;
  width: 100%;
  z-index: 555;
}

.attention {
  position: relative;
  background-color: var(--clr-accent-02);
  display: grid;
  justify-content: center;
}
.closeBtn {
  color: var(--clr-white);
  font-size: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.container {
  display: grid;
  gap: 2rem;
  align-items: center;
  padding: 2rem 1.5rem;
  max-width: 1200px;
  font-family: var(--text-font);
}
.attention i {
  color: white;
  font-size: 2.5rem;
}
.container p {
  font-size: clamp(1rem, 0.8267rem + 0.7396vw, 1.3rem);
}
.button {
  grid-row: 2;
  grid-column: 1/-1;
  justify-self: center;
  width: 60%;
  background: white;
  border: 3px solid #000;
  border-radius: 5rem;
  padding: 1rem;
  transition: var(--transition);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: bold;
}

@media (orientation: portrait) {
  .wrapper {
    display: grid;
    place-content: center;
  }
  .attention {
    display: block;
  }
}
@media (orientation: landscape) {
  .wrapper,
  .attention {
    display: none;
  }
}
