.toggleChapterDesc {
  cursor: pointer;
  color: var(--clr-link);
}

.chapterDescBox {
  display: flex;
  flex-direction: column;
  /* gap: 1rem 0; */
  background: var(--clr-white);
  border-radius: 1rem;
  /* padding:clamp(1rem, 0.0458rem + 4.0712vw, 2rem); */
  padding: .5rem;
}

.chapterDesc {
  padding: .5rem;
  /* box-shadow: var(--shadow-2);
  background: var(--clr-white);
  border: 1px solid var(--clr-primary-02); */
}

.chapterDesctTitle {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  cursor: pointer;
}

.chapterDesctTitle h4 {
  font-weight: 500;
  font-size: var(--title-size-prt);
  transition: var(--transition);
}

.chapterDesctTitle h4:hover {
  opacity: .6;
}

.chapterDesctBody {
  display: grid;
  /* grid-template-columns: 1fr auto; */
  grid-auto-flow: row;
  gap: 1.5rem;
  padding: .8rem;
  line-height: 1.6;
  font-size: 1.1rem;
  padding: .8rem;
}

.chapterDesctBody h4 {
  font-size: var(--title-size-prt);
}

.chapterDesctTitle {
  font-weight: 500;
  /* grid-column: 1;
  grid-row: 1; */
}

.chapterDescText {
  font-size: var(--text-size-prt);
}

.chapterDesctImage {
  border-radius: 1rem;
  cursor: pointer;

}

.chapterDescbutton {
  justify-self: end;
  background: var(--clr-accent-02);
  border: 1px solid var(--clr-accent-02);
  border-radius: 5rem;
  transition: var(--transition);
  font-family: var(--text-font);
  padding: 0.5rem;
  color: var(--clr-white);
  font-size: var(--text-size-prt);
}

.chapterDescbutton:hover {
  background-color: var(--clr-white);
  color: var(--clr-accent-02);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey-light);
  margin: .5rem 0;
}

@media screen and (min-width: 768px) {
  .chapterDesctTitle h4 {
    font-weight: 500;
    font-size: larger;
    transition: var(--transition);
  }

  .chapterDesctTitle h4:hover {
    opacity: .6;
  }

  /* .chapterDescBox {
    width: 70%;
  } */

  .line {

    margin: 1rem 0;
  }
}
