.container {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1700px) 1fr;
  margin-bottom: 0.3rem;
}
.container > * {
  grid-column: 2;
}
.breadcrumbs {
  display: flex;
  gap: 0.5rem;
}
.breadcrumbs > * {
  font-family: var(--text-font);
  font-size: 14px;
  color: #aba4a2;
  text-transform: capitalize;
}
.breadcrumbs > a {
  transition: var(--transition);
}
.breadcrumbs > a:hover {
  opacity: 0.6;
}

/* portrait */
.prt {
  display: block;
  margin: 0 0 0.3rem 0.1rem;
}
.prt .breadcrumbs > * {
  font-size: 10px;
}
