.center {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20px 1fr auto auto auto auto;
  align-items: center;
  gap: 8px;
}

.header {
  background: var(--clr-white);
  padding: 0.5rem 0;
}

.sociallinks {
  display: none;
}


.title {
  font-family: var(--title-font);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--title-size-prt);
  white-space: nowrap;
  justify-self: flex-start;
  transition: var(--transition);
}

.title:hover {
  opacity: 0.6;
}



.favicon {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px;
  min-height: 48px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.contactbtn,
.openbtn {
  transition: var(--transition);
}

.contactbtn:hover,
.openbtn:hover {
  opacity: 0.6;
}

.contacticon,
.fabarsicon,
.serchicon {
  width: 24px;
  height: 24px;
}

.nav {
  display: block;
}

@media screen and (min-width: 768px) {

  .center {
    grid-auto-columns: 30px 1fr auto auto auto auto;
    ;
  }

  .header {
    padding: 1.5rem 0;
  }

  .nav {
    display: none;
  }

  .sociallinks {
    display: block;
  }
}
