.land {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.prt {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.container {
  display: flex;
  height: var(--screen-height);
  overflow-y: hidden;
  /* overflow-y: auto; */
  overflow-x: var(--overflow-x);
  /* position: relative; */
}

.EmakiConteiner_container__A_oLx {
  display: flex !important;
  height: var(--screen-height);
  overflow-y: hidden;
  /* overflow-y: auto; */
  overflow-x: var(--overflow-x);
  position: relative;
  box-shadow: var(--shadow-1)
}

.emakiplayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc2c2e6;
  z-index: 100;
  border-radius: 5%;
}

.rl {
  flex-direction: row-reverse;
}

.lr {
  flex-direction: row;
}

.container::-webkit-scrollbar-track {
  /* background-image: url("/washi-pattern-01.webp"); */
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
