.header {
  background: var(--clr-white);
  gap: 10px;
}

.header-fixed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
}

.center {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20px 1fr auto auto auto auto;
  align-items: center;
  gap: 8px;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  font-family: var(--title-font);
  column-gap: 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--title-size-prt);
  word-break: keep-all;
}


.favicon {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px;
  min-height: 48px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.openbtn {
  font-size: 1.5rem;
}

.links {
  display: none;
}

.sociallinks {
  display: none;
}

.nav {
  display: block;
}

@media screen and (min-width: 768px) {

  .sociallinks {
    display: block;
  }

  .nav {
    display: none;
  }

  .center {
    grid-auto-columns: 30px 1fr auto auto auto auto;
    ;
  }


}
