*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-black: rgb(20 20 20);
  --clr-grey: rgb(114 114 114);
  --clr-grey-light: rgb(163, 163, 163);
  --clr-white: #fff;
  --clr-primary-02: rgba(117, 159, 238, 0.3);
  --clr-accent-02: #ff8c77;
  --clr-green-01: #54896a;
  --text-size: calc(16px + (35 - 16) * ((100vh - 375px) / (1080 - 375)));
  --title-size: calc(20px + (35 - 20) * ((100vh - 375px) / (1080 - 375)));
  --mokuji-size: calc(14px + (20 - 14) * ((100vh - 375px) / (1080 - 375)));
  --shadow-1: 0 5px 15px rgb(0 0 0 / 10%);
  --shadow-2: 0 5px 15px rgba(0, 0, 0, 20%);
  --shadowR: -10px 15px 10px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --mokuji-size: calc(14px + (20 - 14) * ((100vh - 375px) / (1080 - 375)));
  --my-font: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN",
    "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
  --title-font: "Kaisei HarunoUmi", serif;
  --title-font2: "'Noto Sans JP', sans-serif";
  --text-font: "Zen Maru Gothic", sans-serif;
  --emaki-title-font: "Kaisei HarunoUmi", serif;
  --emaki-kotobagki-font: "Zen Kurenaido", sans-serif;
  --borderRadius: 0.5rem;
}
body {
  background-color: #f9fbff;
  font-family: var(--my-font);
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
  cursor: pointer;
}
button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.section {
  height: 100%;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1200px) 1fr;
}
.section-grid > * {
  grid-column: 2;
}
.section-center {
  margin: 0 auto;
}
.section-padding {
  padding: 4rem 0;
}
.fade-in {
  opacity: 0.3;
  transition: 1s;
}
.fade-in.lazyloaded {
  opacity: 1;
}
.fullscreen-enabled article {
  height: 100vh;
  width: 100vw;
}

/* ハンバーガーメニューをfixed */
.open html,
.open body {
  overflow: hidden;
  height: 100%;
}

twitter 