.container {
  max-width: 1200px;
  width: 90vw;
}
.tags {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  font-family: var(--title-font2);
}
.jatags {
  grid-template-columns: repeat(2, auto);
}
/* .taginfo {
  display: grid;
  grid-template-columns: 5rem auto;
  column-gap: 0.3rem;
} */
/* .taginfo.keywordsen {
  grid-template-columns: 10rem auto;
}
.taginfo.personnames {
  grid-template-columns: 12rem auto;
} */
.portrait {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  /* box-shadow: 2px 3px 5px #898989; */
  border: 3px solid white;
}
.noportrait {
  width: 130px;
  height: 130px;
  background: gray;
  border-radius: 50%;
  border: 3px solid white;
  display: grid;
  place-content: center;
}
.helpcircleicon {
  width: 100px;
  height: 100px;
  color: #ffffff45;
}
.name {
  transition: var(--transition);
  text-align: center;
}
.name rt {
  letter-spacing: -0.5em;
}
.name:hover {
  color: var(--clr-accent-02);
}

@media screen and (min-width: 768px) {
  .tags {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .tags {
    grid-template-columns: repeat(4, 1fr);
  }
}
