.title {
  text-align: center;
  padding: 2rem;
  font-size: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem);
  font-family: var(--text-font);
}
.text {
  font-size: clamp(1rem, 0.8844rem + 0.4931vw, 1.2rem);
  line-height: 1.8;
  font-family: var(--text-font);
}
.text::first-letter {
  font-size: clamp(2rem, 0.8844rem + 0.4931vw, 2.2rem);
  margin-right: 5px;
  font-style: italic;
  font-family: var(--title-font);
}
