.container {
  /* padding: 2rem 0; */
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1200px) 1fr;
}
.container > * {
  grid-column: 2;
}

.breadcrumbs {
  display: flex;
  gap: 0.5rem;
}
.breadcrumbs > * {
  font-family: var(--text-font);
  font-size: 10px;
  color: #aba4a2;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .breadcrumbs > * {
    font-size: 14px;
  }
}
