.cardbtn {
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  font-size: 0.9rem;
  font-weight: 600;
  transition: var(--transition);
  font-family: var(--text-font);
}
.carda {
  color: var(--clr-accent-02);
  border: 1px solid var(--clr-accent-02);
  background: var(--clr-white);
}
.carda:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent-02);
}
.gridimage {
  color: var(--clr-white);
  border: 1px solid var(--clr-accent-02);
  background: var(--clr-accent-02);
  padding: 1rem;
  font-size: 1.2rem;
}
.gridimage:hover {
  color: var(--clr-accent-02);
  background-color: var(--clr-white);
}
