.sectiondesc {
  font-family: var(--text-font);
  padding: 1.5rem 0;
  font-size: clamp(1rem, 0.8844rem + 0.4931vw, 1.2rem);
  width: clamp(20rem, 2.6656rem + 73.9599vw, 50rem);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.figure {
  transition: var(--transition);
  background: rgb(184, 109, 109);
  position: relative;
  width: 100%;
  height: 30vh;
}

.image {
  transition: var(--transition);
}
.cardContainer:hover .image {
  transform: scale(1.5);
}
.info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  grid-row-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  position: absolute;
  transition: var(--transition);
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.cardContainer:hover .info {
  opacity: 0.4;
}
.title {
  font-size: 3rem;
  font-family: var(--text-font);
  color: var(--clr-white);
  text-transform: capitalize;
}


@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .two,
  .three,
  .four {
    flex: 0 0 calc(50% - 2rem);
  }
  .sectiondesc {
    margin: 0 auto;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .three {
    flex: 0 0 calc(33% - 2rem);
  }
  .four {
    flex: 0 0 calc(25% - 2rem);
  }
}
