.eraTab {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.eraTabBtn {
  font-size: 1.3rem;
  /* font-family: var(--text-font); */
  font-weight: bold;
}

.single {
  border-radius: var(--borderRadius);
  position: relative;
  transition: var(--transition);
  background-color: #7c7c7cc9;
  aspect-ratio: 16/9;
  cursor: pointer;
}
.single img {
  border-radius: var(--borderRadius);
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: var(--transition);
}
/* .single img:hover {
  opacity: 0.4;
} */

.card {
  border-radius: var(--borderRadius);
  padding: 1rem;
  position: relative;
  transition: var(--transition);
  background: white;
  box-shadow: var(--shadow);
  margin-bottom: 4rem;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.desc {
  margin: 2rem 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 1.5rem;
}
.header h3 {
  font-family: var(--title-font);
}
.header h4 {
  font-family: var(--title-font);
}

.readMore {
  color: var(--clr-accent-02);
  font-weight: bold;
}
.era {
  font-size: 0.8rem;
  color: var(--clr-white);
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
}
.orange {
  background-color: var(--clr-accent-02);
}
.green {
  background-color: var(--clr-green-01);
}
.purple {
  background-color: purple;
}
.gold {
  background-color: goldenrod;
}
.skyblue {
  background-color: skyblue;
}
.firebrick {
  background-color: firebrick;
}
.footer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex: 0 0 calc(33% - 2rem);
  }
}
