.favorite {
  width: 90vw;
  max-width: 1200px;
}
.variation {
  width: 90vw;
}
.alpha {
  width: 40vw;
  max-width: 1200px;
}
.conteiner {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.cardContainer > h4 {
  text-align: center;
  margin-bottom: 1rem;
}
.card {
  border-radius: var(--borderRadius);
  /* padding: 1rem; */
  position: relative;
  transition: var(--transition);
  background: white;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  /* outline
  : red solid; */
}

.single {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  position: relative;
  transition: var(--transition);
  background-color: #7c7c7cc9;
  aspect-ratio: 16/9;
  cursor: pointer;
}
.single img {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: var(--transition);
}

.footer {
  padding: 1rem;
}
.title {
  font-weight: 600;
  font-size: 1rem;
}
.author {
  font-weight: 600;
  font-size: 0.9rem;
}
.desc {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgb(112 112 112);
}
.viewemaki {
  margin-top: 1.5rem;
  text-align: center;
}
.viewemaki a {
  padding: 0.5rem;
  border: 1px solid var(--clr-accent-02);
  color: var(--clr-white);
  border-radius: var(--borderRadius);
  font-size: 0.9rem;
  font-weight: 400;
  transition: var(--transition);
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: var(--clr-accent-02);
}
.viewemaki a:hover {
  color: var(--clr-accent-02);
  background: var(--clr-white);
}
.tag {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  column-gap: 0.5rem;
  font-size: 0.7rem;
  color: var(--clr-grey-light);
}
.tag > * {
  padding: 0.1rem 0.4rem;
  border-radius: var(--borderRadius);
  color: var(--clr-grey-light);
  border: 1px solid var(--clr-grey-light);
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .conteiner {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .two,
  .three,
  .four {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .three {
    flex: 0 0 calc(33% - 2rem);
  }
  .four {
    flex: 0 0 calc(25% - 2rem);
  }
}
