.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 400px;
  overflow-y: auto;
}
.box {
  /* display: flex;
  flex-direction: row;
  column-gap: 0.5rem; */
  display: grid;
  grid-template-columns: 60% auto;
  column-gap: 0.5rem;
  transition: var(--transition);
}
.box:hover {
  opacity: 0.6;
}
.image {
  border-radius: 12px;
}
.metadata {
  font-family: var(--title-font2);
}
.title {
  font-size: medium;
}
.author {
  font-size: small;
}
