.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 400px;
  overflow-y: auto;
}
.box {
  /* display: flex;
  flex-direction: row;
  column-gap: 0.5rem; */
  display: grid;
  grid-template-columns: 60% auto;
  column-gap: 0.5rem;
  transition: var(--transition);
}
.box:hover {
  opacity: 0.6;
}
.image {
  border-radius: 12px;
}
.metadata {
  font-family: var(--title-font2);
}
.title {
  font-size: medium;
}
.author {
  font-size: small;
}

/* .container::-webkit-scrollbar,
.container::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
  background: transparent;
}
@media (min-width: 768px) {
  .container::-webkit-scrollbar,
  .container::-webkit-scrollbar-corner {
    width: 12px;
    height: 12px;
    background: transparent;
  }
} */
/* 
.container::-webkit-scrollbar-track {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #ccccccbd;
  border: 3px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
  width: 80px;
  transition: var(--transition);
}
.container::-webkit-scrollbar-thumb:hover {
  background-color: #afafafbd;
} */
