.favorite {
  width: 90vw;
  max-width: 1200px;
}
.variation {
  width: 90vw;
}
.alpha {
  width: 90vw;
  max-width: 1200px;
}
.sectiondesc {
  font-family: "Zen Maru Gothic", sans-serif;
  padding: 1.5rem 0;
  font-size: clamp(1rem, 0.8844rem + 0.4931vw, 1.2rem);
  width: clamp(20rem, 2.6656rem + 73.9599vw, 50rem);
}
.conteiner {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.card {
  border-radius: var(--borderRadius);
  position: relative;
  transition: var(--transition);
  background: white;
  box-shadow: var(--shadow-1);
}
.card:hover {
  box-shadow: var(--shadow-2);
  transform: scale(1.02);
}

.single {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  position: relative;
  transition: var(--transition);
  background-color: #7c7c7cc9;
  aspect-ratio: 16/9;
  cursor: pointer;
}
.single img {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: var(--transition);
}

.footer {
  padding: 1rem;
}
.title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--clr-black);
}
.author {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--clr-black);
}
.desc {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgb(112 112 112);
}
.viewemaki {
  margin-top: 1.5rem;
  text-align: center;
}
.viewemaki a {
  padding: 0.5rem;
  border: 1px solid var(--clr-accent-02);
  color: var(--clr-accent-02);
  background: var(--clr-white);
  border-radius: var(--borderRadius);
  font-size: 0.9rem;
  font-weight: 600;
  transition: var(--transition);
  font-family: "Zen Maru Gothic", sans-serif;
}
.viewemaki a:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent-02);
}
.tag {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  column-gap: 0.5rem;
  font-size: 0.7rem;
  color: var(--clr-grey-light);
}
.tag > * {
  padding: 0.1rem 0.4rem;
  border-radius: var(--borderRadius);
  color: var(--clr-grey-light);
  border: 1px solid var(--clr-grey-light);
  font-weight: 100;
  transition: var(--transition);
}
.tag .era:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  .conteiner {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .two,
  .three,
  .four {
    flex: 0 0 calc(50% - 2rem);
  }
  .sectiondesc {
    margin: 0 auto;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .three {
    flex: 0 0 calc(33% - 2rem);
  }
  .four {
    flex: 0 0 calc(25% - 2rem);
  }
}
