.eraTab {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.eraTabBtn {
  font-size: 1.3rem;
  /* font-family: var(--text-font); */
  font-weight: bold;
}

.single {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  position: relative;
  transition: var(--transition);
  background-color: #7c7c7cc9;
  aspect-ratio: 16/9;
  cursor: pointer;
}
.single img {
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: var(--transition);
}
.card {
  border-radius: var(--borderRadius);
  /* padding: 1rem; */
  position: relative;
  transition: var(--transition);
  background: white;
  box-shadow: var(--shadow);
  margin-bottom: 4rem;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  /* outline: red solid; */
}
.footer {
  padding: 2rem;
}
.title {
  /* text-align: center; */
  /* font-family: var(--title-font); */
  font-weight: 600;
  font-size: 1rem;
}
.info {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.info > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  color: var(--clr-grey-light);
}

/* .link {
  text-align: center;
  padding: 1rem;
  background: var(--clr-accent-02);
  border-bottom-right-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
} */
.link {
  margin-top: 1.5rem;
}
.link a {
  padding: 0.5rem;
  border: 1px solid var(--clr-accent-02);
  color: var(--clr-accent-02);
  border-radius: var(--borderRadius);
  /* background: var(--clr-accent-02); */
  font-size: 0.8rem;
  font-weight: 600;
  transition: var(--transition);
}
.link a:hover {
  color: var(--clr-white);
  background: var(--clr-accent-02);
}
/* .orange {
  background-color: var(--clr-accent-02);
}
.green {
  background-color: var(--clr-green-01);
}
.purple {
  background-color: purple;
}
.gold {
  background-color: goldenrod;
}
.skyblue {
  background-color: skyblue;
}
.firebrick {
  background-color: firebrick;
} */
@media screen and (min-width: 768px) {
  .conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex: 0 0 calc(33% - 2rem);
  }
}
