.controller {
  display: flex;
  width: 100%;
  position: fixed;
  top: 6px;
  left: 0;
  z-index: 10;
  justify-content: right;
  column-gap: 5px;
}
.next,
.comment,
.prev {
  opacity: 0;
}
.linkicon {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: var(--transition);
  background: var(--clr-primary-02);
  padding: 4px;
  color: var(--clr-gray);
  cursor: pointer;
}
.linkicon > i {
  font-size: 21px;
  transition: var(--transition);
}
@media (min-height: 800px) {
  .controller {
    justify-content: center;
  }
  .next,
  .comment,
  .prev {
    opacity: 1;
  }
}
