.container {
}
.breadcrumbs {
  position: fixed;
  z-index: 20;
  top: 6px;
  left: 6px;
}
.next,
.comment,
.prev,
.home {
  opacity: 0;
}
.linkicon {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: var(--transition);
  background: var(--clr-primary-02);
  padding: 4px;
  color: var(--clr-gray);
  cursor: pointer;
}
.linkicon > i {
  font-size: 21px;
  transition: var(--transition);
}
@media (min-height: 800px) {
  .controller {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 6px;
    left: 0;
    column-gap: 5px;
    display: flex;
    justify-content: center;
  }
  .next,
  .comment,
  .prev,
  .home {
    opacity: 1;
  }
}
