/* four */
.four {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .four {
grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.editionLink {
  font-size: 14px;
  /* border: 1px solid var(--clr-grey-light); */
  /* border-top: 1px solid var(--clr-grey-light);
  border-bottom: 1px solid var(--clr-grey-light);
  padding: 1rem 0; */
  width: 80%;
  /* align-self: center; */
}

.editionLink li a {
  transition: var(--transition);
  color: var(--clr-link);
}

.editionLink li a:hover {
  opacity: 0.6;
}

.ExternalLinkIcon {
  width: 15px;
  height: 15px;
  color: var(--clr-grey);
  margin-left: 0.2rem;
  color: var(--clr-link);
}

.scrollIcon {
  transform: rotate(90deg);
  margin-right: 3px;
}
