.center {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 8px;
}

.header {
  background: var(--clr-white);
  padding: 0.5rem 0;
}
.sociallinks {
  display: none;
}
.sociallinks {
  display: block;
}
.title {
  font-family: var(--title-font);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--title-size-prt);
  white-space: nowrap;
  justify-self: flex-start;
  transition: var(--transition);
}
.title:hover {
  opacity: 0.6;
}
.favicon {
  width: 20px;
  height: 20px;
}
.contactbtn,
.openbtn {
  transition: var(--transition);
}
.contactbtn:hover,
.openbtn:hover {
  opacity: 0.6;
}
.contacticon,
.fabarsicon,
.serchicon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1.5rem 0;
  }
}
