.emakiimage {
  height: 100%;
  position: relative;
  /* aspect-ratio: 16/9; */
}

.characterbox,
.ebikibox {
  z-index: 10;
  position: absolute;
  font-family: var(--text-font);
  background: #ffffff61;
  padding: 1rem 0;
  writing-mode: vertical-lr;
  transition: var(--transition);
  outline-offset: -4px;
}
/* .ebikibox {
  outline: 1px solid var(--clr-black);
} */
.characterboxLink:hover,
.ebikibox:hover {
  opacity: 0.6;
}
.emakiImg {
  height: 100%;
  width: auto;
  animation: fade 1s forwards;
}
.emakiImg.fade-in {
  animation: fade 1s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
