.conteiner {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  /* width: var(--text-width); */
  overflow-y: hidden;
  overflow-x: scroll;
}
.rl {
  flex-direction: row-reverse;
}
.lr {
  flex-direction: row;
}
