.emakiimage {
  height: 100%;
  position: relative;
  /* aspect-ratio: 16/9; */
}
.genji {
  z-index: 10;
  position: absolute;
  top: 30%;
  right: 20%;
  font-family: var(--text-font);
  background: #ffffff61;
  padding: 1rem 0;
  outline: 1px solid #5da3ff;
  outline-offset: -3px;
  writing-mode: vertical-lr;
}
