.emakiimage {
  height: 100%;
  position: relative;
  /* aspect-ratio: 16/9; */
}

.characterbox {
  z-index: 10;
  position: absolute;
  font-family: var(--text-font);
  background: #ffffff61;
  padding: 1rem 0;
  writing-mode: vertical-lr;
  transition: var(--transition);
  outline-offset: -4px;
}
.characterbox:hover {
  opacity: 0.6;
}
