.wrapper {
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* background-color: var(--clr-white); */
  background-color: white;
  /* background-image: url("/washi_gray.webp");
  background-repeat: repeat; */
}
.land {
  grid-row: 1;
  grid-column: 1;
  position: relative;
}
.prt {
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
}
.container {
  display: flex !important;
  height: var(--screen-height);
  /* height:75vh; */
  /* width: 65vw; */
  overflow-y: hidden;
  overflow-x: var(--overflow-x);
  /* overflow-x: hidden; */
  position: relative;
  box-shadow: var(--shadow-1);
}
.emakiplayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc2c2e6;
  z-index: 100;
  border-radius: 5%;
}

.rl {
  flex-direction: row-reverse;
}
.lr {
  flex-direction: row;
}

/* 1. scrollbar */
/* https://coliss.com/articles/build-websites/operation/css/custom-scrollbars-in-css.html */

/* .container::-webkit-scrollbar,
.container::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
  background: transparent;
}
@media (min-width: 768px) {
  .container::-webkit-scrollbar,
  .container::-webkit-scrollbar-corner {
    width: 12px;
    height: 12px;
    background: transparent;
  }
} */

.container::-webkit-scrollbar-track {
  /* background-image: url("/washi-pattern-01.webp"); */
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* スクロールバーの幅 */
/* .container::-webkit-scrollbar {
  height: 30px;
} */

/* スクロールバーのトラック */
/* .container::-webkit-scrollbar-track {
  background-color: darkgrey;
} */
/* スクロールバーのサム */
/* .container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* ↓新しい構文 */
/* .container {
  scrollbar-width: thin;
}

.container {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
} */
/*
.container::-webkit-scrollbar {
  height: 15px;
}
@media (min-width: 768px) {
  .container::-webkit-scrollbar {
    height: 20px;
  }
}

.container::-webkit-scrollbar-track {
  background-image: url("/washi-pattern-01.webp");
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    90deg,
    rgb(253, 147, 150),
    rgb(144, 152, 247)
  );
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  background-color: #ccccccbd;
  border: 3px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
  width: 80px;
}
.container::-webkit-scrollbar-thumb:hover {
  background-color: #afafafbd;
} */
/* 2.「熈代勝覧」 */
/* https://nihonbashi-info.tokyo/kidaishoran/ */

/* .container::-webkit-scrollbar {
  width: 100%;
  height: 60px;
  margin: 100px;
  -webkit-appearance: none;
}

.container::-webkit-scrollbar-track {
  background-image: url("/kusouzu_bar.webp");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
} */
