.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prt {
  bottom: 2%;
  column-gap: 0.5rem;
  border-radius: 2rem;
  /* padding: 0.5rem 1rem; */
  /* box-shadow: var(--shadow-1); */
}

.land {
  bottom: 4%;
  column-gap: .5rem;
  background: #b1b1b100;
    /* background-color: rgba(0, 0, 0, 0.281); */
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-1);
}
.bcg {
  background: #cdcdcdad;
}
/* .prt .button > i {
  font-size: 1.5em;
} */
.button > i{
  /* font-size: clamp(1.3125rem, 0.895rem + 1.7812vw, 1.75rem); */
  transition: var(--transition);
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: 0.8;
    font-size: 1.5em;
}
/* .button > i:hover,
.titleen > i :hover {
  color: var(--clr-accent-02);
  transform: scale(1.02);
} */
  .button{
    transition: var(--transition);
  }
 .button:hover{
 transform: scale(1.4);
 }
.button:hover.button>i{
    color: var(--clr-accent-02);

}
