.header {
  background: var(--clr-white);
  padding: 0.5rem 0;
}
.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--title-font);
  column-gap: 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--title-size-prt);
}
.favicon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 1.5rem 0;
  }
}

.header-fixed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
}

.center {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.openbtn {
  font-size: 1.5rem;
}
.links {
  display: none;
}
