.flow {
  margin-top: 4rem;
}
.container {
  display: flex;
  position: relative;
  padding: 10rem 0;
  background-color: var(--clr-black);
  /* background-color: var(--clr-white); */
}
.title {
  position: absolute;
  top: 100px;
  font-size: clamp(4rem, 1.6888rem + 9.8613vw, 8rem);
  font-family: var(--title-font2);
  text-transform: capitalize;
  background: linear-gradient(90deg, #ffdadb, #f2f3fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left {
  left: 100px;
  text-align: left;
}
.right {
  right: 100px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .title {
    top: 50px;
  }
  .left {
    left: 100px;
    text-align: left;
  }
  .right {
    right: 100px;
    text-align: right;
  }
}
