.fullscreen {
  position: relative;
  width: 80vw;
  /* padding: var(--padding); */
}
.left {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}
.right {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}
.openIcon,
.closeIcon {
  position: absolute;
  top: 1.4%;
  left: var(--left);
  right: var(--right);
  z-index: 100;
  font-size: 1.3rem;
  color: var(--clr-white);
  transform: rotate(var(--rotate));
  transition: var(--transition);
}
.openIcon:hover,
.closeIcon:hover {
  color: var(--clr-accent-02);
}
