.container {
  display: flex;
  position: relative;
  padding: 10rem 0;
}
.title {
  position: absolute;
  top: 0;
  font-size: 10rem;
  font-family: var(--title-font2);
  color: rgb(233, 233, 233);
  letter-spacing: 10px;
}
.left{
  left: 100px;
    text-align: left;
}
.right{
  right: 100px;
  text-align: right;
}
