*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.lazyload {
  opacity: 0;
}

.loading.lazyloading {
  opacity: 0.3;
  transition: opacity 300ms;
  background: #f7f7f7 url(/loading.gif) no-repeat center;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 1s;
}
