.header {
  background: var(--clr-white);
  font-family: "Kaisei Decol", serif;
}
.header-fixed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
}

.center {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.title {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.openbtn {
  font-size: 1.5rem;
}
.links {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: none;
  }

  .center {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 1rem;
  }
  .header-fixed .center {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 0;
  }
  .header-fixed .title {
    display: none;
  }

  .links {
    grid-row: 1;
    display: flex;
    column-gap: 3rem;
    font-weight: 200;
    font-size: 1.3rem;
  }
  .sociallinks {
    grid-row: 3;
  }
  .active {
    color: red;
  }
  .links a {
    transition: var(--transition);
  }
  .links a:active {
    color: var(--clr-accent-02);
  }
}
