.header {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  padding: 1rem;
}
.center {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.title {
  font-family: var(--title-font);
  font-size: 1.3rem;
}
.openbtn {
  font-size: 1.5rem;
}
.links {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav{
    display: none;
  }
  .links {
    display: flex;
    column-gap: 1rem;
    font-size: 1rem;
    font-family: var(--title-font);
    font-weight: 200;
    text-transform: capitalize;
  }
}
