.header {
  background: var(--clr-white);
}
.header-fixed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
}
.title {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  font-family: var(--title-font);
  column-gap: 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--title-size-prt);
  word-break: keep-all;
}
.center {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  align-items: center;
  gap: .5rem;
}

.favicon {
  width: 20px;
  height: 20px;
}
.openbtn {
  font-size: 1.5rem;
}
.links {
  display: none;
}
.sociallinks{
  display: none;
}
@media screen and (min-width: 768px) {
    .sociallinks {
        display: block;
      }
}
@media screen and (min-width: 1366px) {
  .title{
    grid-column: 1 / 5;
  }
  .nav {
    display: none;
  }
  .serchform {
    grid-row: 2;
    grid-column: 2;
  }
  .contacticonbox {
    grid-row: 2;
    grid-column: 4;
    justify-self: flex-end;
  }
  .center {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 1rem .5rem;
  }
  .header-fixed .center {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 0;
  }
  .header-fixed .title {
    display: none;
  }

  .links {
    grid-row: 1;
    display: flex;
    column-gap: 3rem;
    font-weight: 200;
    font-size: 1.3rem;
  }
  .sociallinks {
    display: block;
    grid-column: 2;
    grid-row: 2;
  }
  .active {
    color: red;
  }
  .links a {
    transition: var(--transition);
  }
  .links a:active {
    color: var(--clr-accent-02);
  }
.contacticon {
  font-size: 30px;
}
.searchboxbtn{
  grid-column: 3;
  grid-row: 2;
}
}
