.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
}
.MuiBackdrop {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.closebtn {
  font-size: 30px;
  position: absolute;
  right: 12px;
  top: 0;
  width: 20px;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: minmax(2vw, auto) 1fr minmax(2vw, auto);
  grid-template-rows: 2vw auto 1fr 2vw;
  background-color: var(--clr-white);
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  overflow: auto;
  position: relative;
  transition: var(--transition);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    row-gap: 1rem;
  }
}
.tabcontainer {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.tabbtn {
  font-size: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem);
  color: var(--clr-black);
  font-family: var(--text-font);
  font-weight: 400;
}
.activebtn {
  color: var(--clr-accent-02);
  box-shadow: 0 3px var(--clr-accent-02);
}

.prev,
.next {
  cursor: pointer;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
}
.prev {
  justify-self: flex-start;
}
.next {
  justify-self: flex-end;
}
.article {
  opacity: 0;
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  /* padding-top: 56.25%; */
  align-self: center;
  justify-self: center;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .iframe {
    top: 2rem;
    height: 80%;
  }
}
.link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: var(--text-font);
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

.link:hover {
  opacity: 0.6;
}
.link h3,
.link h2 {
  font-weight: 400;
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
.chapter{
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  /* padding-top: 56.25%; */
  align-self: center;
  justify-self: center;
}