.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
}
.MuiBackdrop {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.container {
  background-color: var(--clr-white);
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  overflow: auto;
  padding: 20px;
  position: relative;
  transition: var(--transition);
}
.closebtn {
  font-size: 30px;
  position: absolute;
  right: 12px;
  top: 0;
  width: 20px;
}
