.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
  /* mix-blend-mode: darken; */
}
.MuiBackdrop {
  background: linear-gradient(322deg, rgb(135 1 1), rgb(0 0 0 / 76%) 95%);
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.closebtn {
  font-size: 30px;
  position: absolute;
  right: 12px;
  top: 0;
  width: 20px;
  cursor: pointer;
  color: #ffffff99;
}
.container {
  display: grid;
  grid-template-columns: minmax(4vw, auto) 1fr minmax(4vw, auto);
  grid-template-rows: 6vw auto 1fr 6vw;
  /* background-color: white; */
  /* background: linear-gradient(305deg, rgb(0 0 0), rgb(127 127 127 / 5%) 70.71%); */
  /* backdrop-filter: blur(2px); */
  color: white;
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  overflow: auto;
  position: relative;
  transition: var(--transition);
  overflow: hidden;
  border: 1px solid #5b5b5ba3;
  box-shadow: 1px -1px 20px 16px rgb(151 151 151 / 10%);
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: minmax(2vw, auto) 1fr minmax(2vw, auto);
    grid-template-rows: 2vw auto 1fr 2vw;
    row-gap: 1rem;
  }
}
.tabcontainer {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .tabcontainer {
    row-gap: 2rem;
  }
}
.tabbtn {
  color: var(--clr-black);
  font-family: var(--text-font);
  font-weight: 400;
}
.activebtn {
  color: var(--clr-accent-02);
  box-shadow: 0 3px var(--clr-accent-02);
}

.prev,
.next {
  align-self: center;
  cursor: pointer;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
  font-size: 1.5rem;
  /* border:1px solid #ffffff00; */
  border-radius: 50%;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  transition: var(--transition);
  color: #ffffff36;
}
.prev:hover,
.next:hover {
  /* border: 1px solid var(--clr-black); */
  /* box-shadow: var(--shadow-1); */
  transform: scale(1.2);
}
.prev {
  justify-self: flex-start;
}
.next {
  justify-self: flex-end;
}
.article {
  opacity: 0;
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  line-height: 2;
  font-family: var(--text-font-koten);
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  overflow-y: auto;
  padding: 1rem;
}
/* @media screen and (min-width: 768px) {
    .article {
      padding: 2rem 1rem;
    }
  } */
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .iframe {
    top: 2rem;
    height: 80%;
  }
}
.link {
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--text-font-koten);
}

.link:hover {
  color: var(--clr-accent-02);
}
.link h3,
.link h2 {
  font-weight: 400;
}
.gendaibun {
  font-size: var(--text-size-prt);
}
.gendaibun a {
  transition: var(--transition);
  color: var(--clr-link);
}
.gendaibun a:hover {
  color: var(--clr-accent-02);
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(100%);
}
.nextSlide {
  transform: translateX(-100%);
}
.chapter {
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  /* padding-top: 56.25%; */
  align-self: center;
  justify-self: center;
}
.linkedbutton {
  align-self: flex-end;
  border: 1px solid #ffffff7a;
  border-radius: 5rem;
  transition: var(--transition);
  font-family: var(--text-font);
  padding: 0.5rem 1rem;
  color: var(--clr-white);
  font-size: var(--text-size-prt);
}
.linkedbutton:hover {
  background: linear-gradient(299deg, rgb(0 0 0), rgb(91 91 91 / 56%) 100%);
  color: white;
  border: 1px solid #ffffff00;
}
.emakiLinks {
  border: 1px solid #b9b9b9;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  width: 80%;
  align-self: center;
}
