.modal {
  display: grid;
  inset: 0;
  /* opacity: 0; */
  place-items: center;
  position: fixed;
  /* transform: scale(0); */
  transition: var(--transition);
  z-index: 500;
  /* mix-blend-mode: darken; */
}
.MuiBackdrop {
  background-color: rgba(0, 0, 0, 0.863);
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.closebtn {
  font-size: 30px;
  position: absolute;
  right: 12px;
  top: 0;
  width: 20px;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: minmax(2vw, auto) 1fr minmax(2vw, auto);
  grid-template-rows: 2vw auto 1fr 2vw;
  background-color: white;
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  overflow: auto;
  position: relative;
  transition: var(--transition);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    row-gap: 1rem;
  }
}
.tabcontainer {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.tabbtn {
  color: var(--clr-black);
  font-family: var(--text-font);
  font-weight: 400;
}
.activebtn {
  color: var(--clr-accent-02);
  box-shadow: 0 3px var(--clr-accent-02);
}

.prev,
.next {
  align-self: center;
  cursor: pointer;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  /* border: 1px solid var(--clr-black); */
  box-shadow: var(--shadow-1);
  transform: scale(1.2);
}
.prev {
  justify-self: flex-start;
}
.next {
  justify-self: flex-end;
}
.article {
  opacity: 0;
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  padding: 1rem 0;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  /* writing-mode: vertical-rl; */
  line-height: 2;
  font-family: var(--text-font-koten);
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .iframe {
    top: 2rem;
    height: 80%;
  }
}
.link {
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--text-font-koten);
}

.link:hover {
  color: var(--clr-accent-02);
}
.link h3,
.link h2 {
  font-weight: 400;
}
.gendaibun {
  font-size: var(--text-size-prt);
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(100%);
}
.nextSlide {
  transform: translateX(-100%);
}
.chapter {
  transition: var(--transition);
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  height: 100%;
  position: relative;
  /* padding-top: 56.25%; */
  align-self: center;
  justify-self: center;
}
.linkedbutton {
    align-self: flex-end;
  background: var(--clr-accent-02);
  border: 1px solid var(--clr-accent-02);
  border-radius: 5rem;
  transition: var(--transition);
  font-family: var(--text-font);
  /* padding: 0.5rem; */
  color: var(--clr-white);
   font-size: var(--text-size-prt);
}
.linkedbutton:hover {
  background-color: var(--clr-white);
  color: var(--clr-accent-02);
}
