.links {
  display: none;
}

@media screen and (min-width: 768px) {
  .links {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(0.3125rem, -1.3542rem + 3.4722vw, 1.25rem);
    font-size: var(--mokuji-size);
  }
  .links a {
    transition: var(--transition);
  }
  .linksName,
  .linksNameAlpha {
    text-transform: capitalize;
  }
  .linksName:hover,
  .linksNameAlpha:hover {
    opacity: 0.6;
  }
  .linksNameAlpha {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .linksNameAlpha::after {
    content: "▼";
    font-size: 15px;
  }

  .active {
    color: red;
  }

  .links > a:active {
    color: var(--clr-accent-02);
  }
  .menu {
    position: relative;
    cursor: pointer;
  }
  .submenu {
    flex-direction: row;
    box-shadow: var(--shadow-1);
    position: absolute;
    top: 2rem;
    left: 0;
    width: max-content;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2;
    background-color: var(--clr-white);
    z-index: 10;
  }

  .submenu > a {
    transition: var(--transition);
    padding: 0.4rem;
  }
  .submenu > a:hover {
    background-color: var(--clr-grey-light);
    opacity: 0.6;
  }
}
