.container {
  position: relative;
}
.ekotobaimagebox {
  transition: var(--transition);
  width: 100%;
}
.gendaibunopen .ekotobaimagebox {
  filter: blur(10px);
}
.gendaibunbox {
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 0;
  font-size: var(--text-size);
  background-color: #ffffff7d;
  width: 100%;
  /* overflowを指定すると背景となる料紙が存在しない場合は、幅がゼロになり表示されない！ */
  /* overflow-x: auto; */
  height: 100%;
  transition: var(--transition);
  opacity: 0;
}

.noekotobaimage.gendaibunbox {
  height: auto;
}
.gendaibunopen .gendaibunbox {
  opacity: 100;
}
.chapter {
  font-weight: 500;
  font-family: var(--text-font-koten);
  z-index: 5;
  color: var(--clr-white);
  background-color: #0000008c;
  padding: 2rem 1rem;
}

.gendaibun {
  font-family: var(--emaki-kotobagki-font);
  line-height: 1.6;
}

/* ===========================
 * 右⇒左（rl）の設定
 * =========================== */

.ekotobarl {
  writing-mode: vertical-rl;
  z-index: 1;
}
.ekotobarl .gendaibunbox {
  right: 0;
}
.ekotobarl .chapter {
  margin-right: 1rem;
}

/* ===========================
 * 左⇒右（lr）の設定
 * =========================== */
.ekotobalr {
  writing-mode: vertical-lr;
  z-index: 1;
}
.ekotobalr .gendaibunbox {
  left: 0;
}
.ekotobalr .chapter {
  margin-left: 1rem;
}
