.container {
  position: relative;
  /* overflow: hidden; */
}
.ekotobaimagebox {
  transition: var(--transition);
  width: 100%;
}
.ekotobabox{
  position: absolute;
  top: 0;
  z-index: 20;
}
.textbox {
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: var(--text-size);
  width: 100%;
  overflow-x: scroll;
  height: 100%;
  transition:var(--transition);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(5px);
}

/* overflowを指定すると詞書の画像が存在しない場合は、幅がゼロになり表示されないので
  visibleに切り替える */
.noekotobaimage {
  /* background-image: url("/washi-pattern-01.webp"); */
  height: auto;
  overflow-x: visible;
}
.gendaibunopen .textbox {
  opacity: 100;
}
/* CSSで作る！綺麗なWeb用リボンデザイン22選 */
/* https: //saruwakakun.com/html-css/reference/ribbon */
.chapterbox {
  display: flex;
  align-items: center;
  letter-spacing: 0.2rem;
  z-index: 0;
  color: var(--clr-white);
  background-color: #0000008c;
  margin-bottom: 4rem;
  cursor: pointer;
  background: linear-gradient(221deg, rgba(135, 135, 135, 0.10127801120448177) 0%, rgba(78, 78, 78, 0.46262254901960786) 17%, rgba(11, 11, 11, 1) 100%);
  position: relative;
}
.chapterbox::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
background: rgb(238, 174, 202);
  background: linear-gradient(42deg, rgba(238, 174, 202, 1) 0%, rgb(148 187 233 / 71%) 100%);
  opacity: 0;
  transition: opacity 1s;
}
.chapterbox:hover::before{
   opacity: 1;
  z-index: 20;
  color: var(--clr-white);
  background-color: #0000008c;
    padding: .5rem;
  background: linear-gradient(#00000033 0%, #0000008c 100%);
  cursor: pointer;
  height: auto;
  max-height: 80%;
}
/* .chapterbox.prt{
  width: 40px;
}
.chapterbox.land{
  width: 60px;
} */
/* .chapterbox:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
}
.chapterbox.prt:after{
  border-left: 20px solid #0000008c;
    border-right: 20px solid #0000008c;
    border-bottom: 10px solid transparent;
}
.chapterbox.land:after{
  border-left: 30px solid #0000008c;
    border-right: 30px solid #0000008c;
    border-bottom: 10px solid transparent;
} */
.chapter {
  font-weight: 400;
  font-family: var(--text-font-koten);
  /* text-combine-upright: all; */
}

.gendaibun {
  font-family: var(--emaki-kotobagki-font);
  line-height: 1.6;
  margin: 2rem 0;
}
.gendaibun {
  font-size: var(--text-size-prt);
line-height: 1.6;
  padding: 2rem 0;
}
.gendaibun a {
  transition: var(--transition);
  color: var(--clr-link);
}
.gendaibun a:hover {
  color: var(--clr-accent-02);
}
.gendaibunopen .gendaibun {
  opacity: 100;
}
.mapiconlink,
.infoiconlink {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  color: white;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1.8rem;
}
.chapterbox:hover .infoiconlink{
transform: scale(1.2);
}

.mapiconlink:hover,
.infoiconlink:hover {
  color: var(--clr-black);
}
/* ===========================
 * 右⇒左（rl）の設定
 * =========================== */

.ekotobarl {
  writing-mode: vertical-rl;
  z-index: 1;
}
.ekotobarl .textbox {
  right: 0;
}
.ekotobarl .chapterbox {
  margin-right: 1rem;
}

/* ===========================
 * 左⇒右（lr）の設定
 * =========================== */
.ekotobalr {
  writing-mode: vertical-lr;
  z-index: 1;
}
.ekotobalr .textbox {
  left: 0;
}
.ekotobalr .chapterbox {
  margin-left: 1rem;
}

.container::-webkit-scrollbar {
  height: 15px;
}
@media (min-width: 768px) {
  .container::-webkit-scrollbar {
    height: 20px;
  }
}

/* ===========================
 * スクロールバーのスタイル
 * =========================== */

.textbox::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    90deg,
    rgb(253, 147, 150),
    rgb(144, 152, 247)
  );
}

/* .textbox::-webkit-scrollbar {
  height: 15px;
}
@media (min-width: 768px) {
  .textbox::-webkit-scrollbar {
    height: 20px;
  }
}
.textbox::-webkit-scrollbar-track {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.textbox::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    90deg,
    rgb(253, 147, 150),
    rgb(144, 152, 247)
  );
  background-color: #ccccccbd;
  border: 3px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
  width: 80px;
}
.textbox::-webkit-scrollbar-thumb:hover {
  background-color: #afafafbd;
} */
