.openbtn {
  /* font-size: 3rem; */
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.openbtnicon {
  font-size: calc(20px + (30 - 20) * ((100vh - 375px) / (1080 - 375)));
}
.sidebar {
  display: none;
  padding: 2rem;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  box-shadow: var(--shadowR);
  background: white;
  width: 400px;
  overflow: hidden;
}
.closebtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.navtitle {
  font-size: calc(16px + (22 - 16) * ((100vh - 375px) / (1080 - 375)));
  margin-bottom: 2rem;
  font-family: var(--title-font);
  text-align: center;
}
.tabConteiner {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.tabBtn {
  font-size: var(--mokuji-size);
  font-family: var(--title-font);
}
.activeBtn {
  color: var(--clr-accent-02);
  box-shadow: 0 4px var(--clr-accent-02);
}
.navlink {
  font-family: var(--text-font);
  transition: var(--transition);
  font-size: var(--mokuji-size);
}
.navlink:hover {
  opacity: 0.4;
}
.open {
  display: block;
}
.source {
  font-size: var(--mokuji-size);
  font-family: var(--text-font);
  list-style: disc;
  list-style-position: inside;
}
.mokuji {
  list-style: disc;
  list-style-position: inside;
}
