.snsShareBox {
    align-self: center;
  display: flex;
    gap: 0 0.5rem;
}
.land{
  grid-row: 1 / span 2;

}
.snsShareIcon {
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  font-size: 9px;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  transition: var(--transition);
}

.snsShareIcon:hover {
  opacity: 0.6;
}
.twitter.land,
.twitter.prt{
 background: #55acee;
}
.facebook.land,
.facebook.prt{
 background: #3b5998;
}
.linkedin.land,
.linkedin.prt{
 background: #3b5998  ;
}
