.links {
  display: none;
}
.footerStyle {
  grid-row: 3;
  justify-self: center;
  align-self: flex-start;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  color: white;
  font-family: var(--title-font);
}

.footerStyle .icon {
  color: var(--clr-white);
}
@media screen and (min-width: 768px) {
  .links {
    display: flex;
    column-gap: 10px;
    grid-row: 3;
  }
  .links .icon {
    color: var(--clr-grey);
  }
}
