.container {
  max-width: 1200px;
  width: 90vw;
}
.tags {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  font-family: var(--title-font2);
}
.taginfo {
  display: grid;
  grid-template-columns: 5rem auto;
  column-gap: 0.3rem;
}
.taginfo.keywordsen {
  grid-template-columns: 10rem auto;
}
.taginfo.personnames {
  grid-template-columns: 12rem auto;
}
.title {
  transition: var(--transition);
}
.title rt {
  letter-spacing: -0.5em;
}
.title:hover {
  color: var(--clr-accent-02);
}

@media screen and (min-width: 768px) {
  .tags {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .tags {
    grid-template-columns: repeat(4, 1fr);
  }
}
