.title {
  text-align: center;

  margin-bottom: 2rem;
}
.title h3 {
font-size: clamp(1.2rem, 1.3955rem + 1.7257vw, 1.6rem);
  color: #77b591;
  text-transform: capitalize;
  font-family:var(--handwriting-font-2)
}
.title h2 {
  font-size: clamp(1.8rem, 1.3955rem + 1.7257vw, 2.5rem);
  color: var(--clr-black);
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--title-font3);
}
