.button > i {
  font-size: clamp(1.3125rem, 0.895rem + 1.7812vw, 1.75rem);
  transition: var(--transition);
  color: white;
  cursor: pointer;
  opacity: 0.8;
}
.button > i:hover {
  color: var(--clr-accent-02);
}
